*{
    margin: 0;
    padding: 0; 
}
#demo01{
    border: 5px solid black;
    padding: 10px;
    /*background-color: rgb(123, 123, 241);*/
    background-image:url(https://img.salehere.co.th/p/1200x0/2021/07/14/cbbwanksxzy0.jpg);
    background-repeat: no-repeat;
    background-origin:content-box;
    
}
.box1{
    width: 350px;
    height: 100px;
    border: 2px solid yellow;
    padding: 70px;
    box-sizing: content-box;
}
.box2{
    width: 350px;
    height: 100px;
    border: 2px solid yellow;
    padding: 70px;
    box-sizing: border-box;

}